.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.result-top {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

.result {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.result-advanced {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5rem;
  align-items: flex-start;
}

.result-details {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.success {
  color: green;
}

.danger {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
